%h1 Projects
.projects
  - @projects.each do |project|
    .project-card
      - if project.thumbnail.present?
        %img{src: "/uploads/projects/#{project.thumbnail}", alt: project.title}
      %h2= link_to project.title, project_path(project.slug)
